@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1857 Sugar Ridge Road<br />
    Spring, Hill TN 37174<br />
    <abbr title="Phone"></abbr>
    615.310.0311
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:phillipc47@gmail.com">Email Me</a><br />
</address>